
TABLE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-COLLAPSE:collapse 
}
IMG {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px; 
}
TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px;
}
HR#line {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: #e0e0e0; BORDER-BOTTOM-WIDTH: 0px; MARGIN: 10px 0px; COLOR: #e0e0e0; HEIGHT: 1px; BORDER-RIGHT-WIDTH: 0px
}
H2.font1 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: red
}



FONT.font1 {
	FONT-SIZE: 11px; COLOR: red
}
FONT.font2 {
	FONT-SIZE: 12px; COLOR: #ed1c2f; LINE-HEIGHT: 12pt
}
FONT.font3 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #ed1c2f
}
FONT.font4 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: red
}
FONT.font5 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ed1c2f
}
FONT.font6 {
	FONT-SIZE: 10px; COLOR: red
}
#topper {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 850px; PADDING-TOP: 25px; HEIGHT: 60px
}
#topper #topperleft {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 216px; PADDING-TOP: 0px; HEIGHT: auto; TEXT-ALIGN: left
}
#topper #topperright {
	FLOAT: right; MARGIN: 0px; VERTICAL-ALIGN: middle; WIDTH: 634px; PADDING-TOP: 20px; TEXT-ALIGN: right
}
#lan {
	FLOAT: left; WIDTH: 404px; PADDING-TOP: 5px; POSITION: relative
}
#form {
	FLOAT: right; WIDTH: 230px; POSITION: relative
}
#lan A {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: red; LINE-HEIGHT: 22px; TEXT-DECORATION: none
}
#lan A:hover {
	COLOR: #cc0033; TEXT-DECORATION: underline
}
#topper INPUT.searchbox {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 3px; MARGIN: 0px; VERTICAL-ALIGN: middle; BORDER-LEFT: #cccccc 1px solid; WIDTH: 149px; COLOR: red; PADDING-TOP: 3px; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; HEIGHT: 14px
}
#topper INPUT.searchbtn {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: #ffffff; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: middle; BORDER-LEFT: #cccccc 1px solid; WIDTH: 49px; COLOR: red; PADDING-TOP: 0px; BORDER-BOTTOM: #cccccc 1px solid; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; HEIGHT: 20px; TEXT-ALIGN: center
}
TABLE#head {
	WIDTH: 900px
}
TABLE#top_logo {
	MARGIN-TOP: 24px; FLOAT: left; MARGIN-LEFT: 16px
}
TD#top {
	TEXT-ALIGN: right
}
TABLE#top {
	MARGIN-TOP: 24px; FLOAT: right; MARGIN-RIGHT: 15px
}
TD#top_links {
	VERTICAL-ALIGN: middle; TEXT-ALIGN: right
}
TD#top_input {
	PADDING-RIGHT: 2px; PADDING-LEFT: 22px; PADDING-BOTTOM: 0px; WIDTH: 1px; PADDING-TOP: 0px; TEXT-ALIGN: right
}
INPUT.search {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; BORDER-LEFT: #999999 1px solid; WIDTH: 149px; COLOR: #999999; PADDING-TOP: 3px; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 16px
}
TD#top_search {
	PADDING-RIGHT: 5px; PADDING-LEFT: 2px; PADDING-BOTTOM: 0px; WIDTH: 1px; PADDING-TOP: 0px; TEXT-ALIGN: right
}
TD#image {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 15px
}
TABLE#main {
	MARGIN-TOP: 20px; WIDTH: 900px; TEXT-ALIGN: left
}
TABLE#bsmenu {
	MARGIN-LEFT: 0px; TEXT-ALIGN: left
}
TD.bsmenu_item {
	TEXT-ALIGN: left;
	width: 170px; 
	height: 25px;
	COLOR: white;
}
TD.bsitem_menu_text {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; 
	background-image:url(Images/menuBG.gif); 
	PADDING-BOTTOM: 0px; WIDTH: 170px;
	CURSOR: pointer; PADDING-TOP: 0px; 
	HEIGHT: 25px; TEXT-ALIGN: left;
	COLOR: white;
}


A.linkMenu
{
    color:White;
}

A.linkMenu:hover
{
    color:red;
}
A.linkMenu_selected
{
    color:lime;
}


A.bsitem_menu_text {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: White; FONT-FAMILY: Arial, Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none;
}
A.bsitem_menu_text:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: red; FONT-FAMILY: Arial,Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none;
}
A.bsitem_menu_text_selected {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: Lime; FONT-FAMILY: Arial, Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none;
}
TABLE.bsitem_menu_text {
	WIDTH: 165px;
}
TD.bsmenu_arrow {
	PADDING-RIGHT: 7px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; TEXT-ALIGN: right;
	width: 27px;
}



TD.bsitem_menu_point {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: center 50%; PADDING-LEFT: 10px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; WIDTH: 180px; COLOR: red; PADDING-TOP: 0px; BORDER-BOTTOM: black 1px solid; HEIGHT: 21px; BACKGROUND-COLOR: #339933; TEXT-ALIGN: left
}
TD.bsitem_menu_point_selected {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; WIDTH: 170px; COLOR: #262626; text-decoration:none; PADDING-TOP: 0px; BORDER-BOTTOM: black 1px solid; HEIGHT: 21px; TEXT-ALIGN: left; BACKGROUND-COLOR: #88ff88;
}
TD.bsitem_menu_point_sel {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; WIDTH: 180px; COLOR: red; PADDING-TOP: 0px; BORDER-BOTTOM: black 1px solid; HEIGHT: 21px; BACKGROUND-COLOR: #e8e8e8; TEXT-ALIGN: left
}


A.bsmenu {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
A.bsmenu:visited {
	COLOR: #ffffff
}
A.bsmenu:hover {
	COLOR: #ffffff
}
A.bsitem_menu_point_selected {
	color:#262626;
	text-decoration:none;
}
A.bsitem_menu_point_selected:hover {
	color:#262626;
	text-decoration:none;
	cursor:default;
}

