A {
	COLOR: #000080; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
BODY {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 76%; BACKGROUND: url(/html/themes/classic/images/custom/background.jpg) fixed no-repeat; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: Tahoma, Arial; 
}
BODY#portal-body {
	HEIGHT: 100%
}
BODY  {
	FONT-SIZE: 1em
}
.font-xx-small {
	FONT-SIZE: 0.7em
}
.font-x-small {
	FONT-SIZE: 0.8em
}
.font-small {
	FONT-SIZE: 0.9em
}
.font-large {
	FONT-SIZE: 1.1em
}
.font-x-large {
	FONT-SIZE: 1.2em
}
.font-xx-large {
	FONT-SIZE: 1.3em
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
SELECT {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 10px 20px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
IMG {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px
}

.form-button {
	BORDER-RIGHT: #d2ddea 1px solid; BORDER-TOP: #d2ddea 1px solid; BORDER-LEFT: #d2ddea 1px solid; BORDER-BOTTOM: #d2ddea 1px solid
}
.form-button-hover {
	BORDER-RIGHT: #d2ddea 1px solid; BORDER-TOP: transparent 1px solid; BORDER-LEFT: transparent 1px solid; BORDER-BOTTOM: #d2ddea 1px solid
}
.form-text {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
.tree-js-pop-up DIV {
	BORDER-RIGHT: #ffffff 2px outset; PADDING-RIGHT: 4px; BORDER-TOP: #ffffff 2px outset; DISPLAY: none; PADDING-LEFT: 4px; Z-INDEX: 10; PADDING-BOTTOM: 4px; BORDER-LEFT: #ffffff 2px outset; PADDING-TOP: 4px; BORDER-BOTTOM: #ffffff 2px outset; POSITION: absolute; BACKGROUND-COLOR: #d3d3d3; TEXT-ALIGN: left
}
.pop-up-outer {
	BORDER-RIGHT: #383838 1px solid; BORDER-TOP: #383838 1px solid; BORDER-LEFT: #383838 1px solid; BORDER-BOTTOM: #383838 1px solid; BACKGROUND-COLOR: #ffffff
}
.pop-up-inner {
	BORDER-RIGHT: #747474 1px solid; BORDER-TOP: #747474 1px solid; BORDER-LEFT: #747474 1px solid; BORDER-BOTTOM: #747474 1px solid
}
.pop-up-header {
	HEIGHT: 25px; BACKGROUND-COLOR: #000000
}
.pop-up-title {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; COLOR: #ffffff
}
.pop-up-close A {
	COLOR: #ffffff; MARGIN-RIGHT: 7px; WHITE-SPACE: nowrap; TEXT-DECORATION: underline
}
.alpha {
	BACKGROUND-COLOR: #d2ddea
}
.alpha-gradient {
	BACKGROUND: url(/html/themes/classic/color_schemes/06/portlet_title_bg_gradient.gif) repeat-x
}
.alpha-neg-alert {
	COLOR: #ff0000
}
.alpha-pos-alert {
	COLOR: #007f00
}
.alpha-separator {
	FONT-SIZE: 0px; BACKGROUND: url(/html/themes/classic/color_schemes/06/portlet_title_bg_x.gif) repeat-x; HEIGHT: 1px
}
A.alpha {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; TEXT-DECORATION: none
}
A.alpha:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
FONT.alpha {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #235ca3
}
.beta {
	BACKGROUND-COLOR: #90abcc
}
.beta-gradient {
	BACKGROUND: url(/html/themes/classic/color_schemes/06/portlet_menu_bg_gradient.gif) repeat-x
}
.beta-neg-alert {
	COLOR: #ff0000
}
.beta-pos-alert {
	COLOR: #007f00
}
.beta-separator {
	FONT-SIZE: 0px; BACKGROUND: url(/html/themes/classic/color_schemes/06/portlet_menu_bg_x.gif) repeat-x; HEIGHT: 1px
}
A.beta {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; TEXT-DECORATION: none
}
A.beta:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.beta {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000
}
.gamma {
	BACKGROUND-COLOR: #ffffff
}
.gamma-gradient {
	BACKGROUND: url(/html/themes/classic/color_schemes/06/portlet_bg_x.gif) repeat-x
}
.gamma-neg-alert {
	COLOR: #ff0000
}
.gamma-pos-alert {
	COLOR: #007f00
}
.gamma-tab {
	PADDING-LEFT: 0px; PADDING-BOTTOM: 27px; MARGIN: 0px 0px 15px; BORDER-BOTTOM: #90abcc 1px solid
}
.gamma-tab UL {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #cccccc 1px solid; DISPLAY: inline; PADDING-LEFT: 10px; BACKGROUND: #f6f6f6; FLOAT: left; PADDING-BOTTOM: 2px; BORDER-LEFT: #cccccc 1px solid; COLOR: #cccccc; LINE-HEIGHT: 22px; MARGIN-RIGHT: 8px; PADDING-TOP: 2px; BORDER-BOTTOM: #90abcc 1px solid; LIST-STYLE-TYPE: none; TEXT-DECORATION: none
}
.gamma-tab LI {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #cccccc 1px solid; DISPLAY: inline; PADDING-LEFT: 10px; BACKGROUND: #f6f6f6; FLOAT: left; PADDING-BOTTOM: 2px; BORDER-LEFT: #cccccc 1px solid; COLOR: #cccccc; LINE-HEIGHT: 22px; MARGIN-RIGHT: 8px; PADDING-TOP: 2px; BORDER-BOTTOM: #90abcc 1px solid; LIST-STYLE-TYPE: none; TEXT-DECORATION: none
}
.gamma-tab UL.current {
	BORDER-RIGHT: #90abcc 1px solid; BORDER-TOP: #90abcc 1px solid; BACKGROUND: #ffffff; BORDER-LEFT: #90abcc 1px solid; COLOR: #000000; BORDER-BOTTOM: #ffffff 1px solid
}
.gamma-tab LI.current {
	BORDER-RIGHT: #90abcc 1px solid; BORDER-TOP: #90abcc 1px solid; BACKGROUND: #ffffff; BORDER-LEFT: #90abcc 1px solid; COLOR: #000000; BORDER-BOTTOM: #ffffff 1px solid
}
.gamma-tab LI A {
	COLOR: #777777
}
.gamma-tab LI.current A {
	COLOR: #000000
}
.gamma-tab LI.toggle {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: right; BORDER-LEFT: 0px; MARGIN-RIGHT: 0px; BORDER-BOTTOM: 0px
}
A.gamma {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; TEXT-DECORATION: none
}
A.gamma:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
FONT.gamma {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000
}
.bg {
	BACKGROUND-COLOR: transparent
}
.bg-neg-alert {
	COLOR: #ff0000
}
.bg-pos-alert {
	COLOR: #007f00
}
A.bg {
	BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #000000; TEXT-DECORATION: none
}
A.bg:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
FONT.bg {
	COLOR: #000000
}
#layout-outer-side-decoration {
	HEIGHT: 100%; BACKGROUND-COLOR: transparent 
}
#layout-inner-side-decoration {
	MARGIN: 0px auto; HEIGHT: 100%; BACKGROUND-COLOR: transparent
}
#layout-box {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; MARGIN: 0px auto; PADDING-TOP: 10px; TEXT-ALIGN: left
}
#layout-top-banner {
	Z-INDEX: 3; POSITION: relative; HEIGHT: 75px; TEXT-ALIGN: left
}
#layout-top-banner  {
	WHITE-SPACE: nowrap
}
#portal-dock {
	RIGHT: -2px; WIDTH: 54px; POSITION: absolute; TOP: 18px; HEIGHT: 54px; background-color:white
}
#portal-dock-title {
	RIGHT: 10px; POSITION: absolute; TOP: 0px; HEIGHT: 25px; TEXT-ALIGN: right
}
.portal-dock-box {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-SIZE: 0px; LEFT: 0px; PADDING-BOTTOM: 2px; WIDTH: 54px; CURSOR: pointer; PADDING-TOP: 2px; POSITION: absolute; TOP: 0px; HEIGHT: 54px
}
.portal-dock-box DIV {
	BACKGROUND-COLOR: #235ca3
}
#layout-user-menu {
	POSITION: relative; TEXT-ALIGN: right
}
.layout-my-places {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #cccccc 1px solid; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #ffffff
}
.layout-my-places-arrow {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BACKGROUND-COLOR: #cccccc
}
#portal-dock-my-places {
	CURSOR: default; PADDING-TOP: 2px; POSITION: relative; TEXT-ALIGN: right
}
#portal-dock-my-places TABLE {
	FLOAT: right
}
#portal-dock-my-places UL {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; RIGHT: 0px; MARGIN: 0px; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; POSITION: absolute; TOP: 20px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
#portal-dock-my-places UL LI {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; CURSOR: default; PADDING-TOP: 2px; WHITE-SPACE: nowrap
}
#layout-global-search {
	
}
#layout-nav-more-menu LI {
	PADDING-RIGHT: 2px; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
#layout-nav-container {
	Z-INDEX: 2; FLOAT: left
}
#layout-nav-divider {
	CLEAR: both; FONT-SIZE: 0px; MARGIN-BOTTOM: 5px; HEIGHT: 5px
}
.layout-nav-divider {
	BACKGROUND-COLOR: #d4dfeb
}
.layout-nav-selected {
	BACKGROUND-COLOR: #235ca3
}
.layout-nav-tabs-box {
	POSITION: relative; HEIGHT: 27px
}
.layout-tab {
	MARGIN-TOP: 1px; FONT-WEIGHT: bold; FLOAT: left; MARGIN-RIGHT: 5px; POSITION: relative; HEIGHT: 27px; BACKGROUND-COLOR: #d4dfeb; TEXT-ALIGN: right
}
#layout-tab-add {
	MARGIN-TOP: 1px; FONT-WEIGHT: bold; FLOAT: left; MARGIN-RIGHT: 5px; POSITION: relative; HEIGHT: 27px; BACKGROUND-COLOR: #d4dfeb; TEXT-ALIGN: right
}
.layout-tab-fondo {
	MARGIN-TOP: 1px; FONT-WEIGHT: bold; BACKGROUND: url(/html/themes/classic/images/custom/fondo_menu.gif); FLOAT: left; MARGIN-RIGHT: 5px; POSITION: relative; HEIGHT: 27px; TEXT-ALIGN: right
}
.layout-tab A {
	COLOR: #bb2149
}
.enlace_tab {
	COLOR: #bb2149
}
#layout-tab-add {
	FONT-WEIGHT: normal; COLOR: #000000; BACKGROUND-COLOR: transparent
}
#layout-tab-add A {
	FONT-WEIGHT: normal; COLOR: #000000; BACKGROUND-COLOR: transparent
}
#layout-tab-selected {
	COLOR: #ffffff; BACKGROUND-COLOR: #235ca3
}
#layout-tab-selected A {
	COLOR: #ffffff; BACKGROUND-COLOR: #235ca3
}
.layout-tab-text {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; PADDING-BOTTOM: 0px; PADDING-TOP: 6px
}
.layout-tab-text {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; PADDING-BOTTOM: 0px; PADDING-TOP: 6px
}
.layout-tab-text  {
	WHITE-SPACE: nowrap
}
.layout-tab-text-editing {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.layout-tab-close {
	MARGIN: 6px 3px 0px 0px
}
.layout-tab-input {
	MARGIN: 6px 2px 0px 0px
}
#layout-content-outer-decoration {
	
}
#layout-bottom-container {
	TEXT-ALIGN: left
}
.layout-add-select-style {
	
}
.portal-add-content {
	PADDING-RIGHT: 18px; PADDING-LEFT: 18px; PADDING-BOTTOM: 18px; PADDING-TOP: 18px
}
.portal-tool-tip {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 0.9em; PADDING-BOTTOM: 2px; BORDER-LEFT: #000000 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #ffffcc
}
.layout-column-arrow-up {
	FONT-SIZE: 0px; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/html/themes/classic/images/arrows/arrow-up.png', sizingMethod='scale'); WIDTH: 40px; POSITION: absolute; HEIGHT: 48px
}
.layout-column-arrow-down {
	FONT-SIZE: 0px; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/html/themes/classic/images/arrows/arrow-down.png', sizingMethod='scale'); WIDTH: 40px; POSITION: absolute; HEIGHT: 48px
}
#layout-column_column-1 {
	HEIGHT: 75px
}
#layout-column_column-2 {
	HEIGHT: 75px
}
#layout-column_column-3 {
	HEIGHT: 75px
}
#layout-column_column-4 {
	HEIGHT: 75px
}
#layout-column_column-5 {
	HEIGHT: 75px
}
.layout-column-highlight {
	BACKGROUND: url(/html/themes/classic/images/common/diagonal-lines.gif)
}
.portlet-dragging-placeholder {
	BACKGROUND-COLOR: #e7edf4
}
#portlet-place-holder DIV {
	BACKGROUND-COLOR: #90abcc
}
.portlet-loading {
	MARGIN-TOP: 10px; BACKGROUND: url(/html/themes/classic/images/progress_bar/loading_animation.gif) no-repeat left top; PADDING-TOP: 40px; TEXT-ALIGN: left
}
.portlet-shadow-tl DIV {
	FONT-SIZE: 0px; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/html/themes/classic/images/shadow/shade-tl.png', sizingMethod='scale'); WIDTH: 4px; HEIGHT: 3px
}
.portlet-shadow-tc {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/html/themes/classic/images/shadow/shade-tc.png', sizingMethod='scale')
}
.portlet-shadow-tr DIV {
	FONT-SIZE: 0px; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/html/themes/classic/images/shadow/shade-tr.png', sizingMethod='scale'); WIDTH: 4px; HEIGHT: 3px
}
.portlet-shadow-ml {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/html/themes/classic/images/shadow/shade-ml.png', sizingMethod='scale')
}
.portlet-shadow-mr {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/html/themes/classic/images/shadow/shade-mr.png', sizingMethod='scale')
}
.portlet-shadow-bl DIV {
	FONT-SIZE: 0px; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/html/themes/classic/images/shadow/shade-bl.png', sizingMethod='scale'); WIDTH: 8px; HEIGHT: 7px
}
.portlet-shadow-bc {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/html/themes/classic/images/shadow/shade-bc.png', sizingMethod='scale')
}
.portlet-shadow-br DIV {
	FONT-SIZE: 0px; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/html/themes/classic/images/shadow/shade-br.png', sizingMethod='scale'); WIDTH: 8px; HEIGHT: 7px
}
.portlet-container {
	BACKGROUND-COLOR: #ffffff
}
.portlet-box {
	BORDER-RIGHT: #d2ddea 1px solid; BORDER-TOP: #d2ddea 1px solid; MARGIN-TOP: 1px; BORDER-LEFT: #d2ddea 1px solid; BORDER-BOTTOM: #d2ddea 1px solid
}
.portlet-minimum-height {
	HEIGHT: 1px
}
.portlet-header-bar {
	BORDER-RIGHT: #d2ddea 1px solid; BORDER-TOP: #d2ddea 1px solid; BACKGROUND: url(/html/themes/classic/color_schemes/06/button_gradient.gif) #d2ddea repeat-x left center; BORDER-LEFT: #d2ddea 1px solid; BORDER-BOTTOM: #d2ddea 1px solid; POSITION: relative
}
.portlet-borderless-container {
	POSITION: relative
}
.portlet-borderless-bar {
	FONT-SIZE: 0.8em; TEXT-ALIGN: left
}
.portlet-wrap-title {
	POSITION: relative; HEIGHT: 20px
}
.portlet-title {
	FONT-WEIGHT: bold; LEFT: 5px; COLOR: #235ca3; POSITION: absolute; TOP: 3px
}
.portlet-small-icon-bar {
	PADDING-LEFT: 2px; RIGHT: 2px; POSITION: absolute; TOP: 3px
}
.portlet-spacer {
	FONT-SIZE: 0px; HEIGHT: 10px
}
.portlet-font {
	COLOR: #000000
}
.portlet-font A {
	COLOR: #000000
}
.portlet-font-dim {
	COLOR: #000080
}
.portlet-msg-status {
	COLOR: #000000; FONT-STYLE: italic
}
.portlet-msg-info {
	COLOR: #000000
}
.portlet-msg-error {
	COLOR: #ff0000
}
.portlet-msg-alert {
	COLOR: #ff0000; FONT-STYLE: italic
}
.portlet-msg-success {
	COLOR: #007f00
}
.portlet-section-header {
	FONT-WEIGHT: bold; BACKGROUND: #acb5d1; COLOR: #000000
}
.portlet-section-header A {
	COLOR: #000000
}
.portlet-section-body {
	BACKGROUND: #e7edf4; COLOR: #000000
}
.portlet-section-body-hover {
	BACKGROUND: #e0f0fc; COLOR: #000000
}
TR.portlet-section-body:hover {
	BACKGROUND: #e0f0fc; COLOR: #000000
}
.portlet-section-body A {
	COLOR: #000000
}
.portlet-section-body-hover A {
	COLOR: #000000
}
TR.portlet-section-body:hover A {
	COLOR: #000000
}
.portlet-section-alternate {
	BACKGROUND: #d3deeb; COLOR: #000000
}
.portlet-section-alternate-hover {
	BACKGROUND: #e0f0fc; COLOR: #000000
}
TR.portlet-section-alternate:hover {
	BACKGROUND: #e0f0fc; COLOR: #000000
}
.portlet-section-alternate A {
	COLOR: #000000
}
.portlet-section-alternate-hover A {
	COLOR: #000000
}
TR.portlet-section-alternate:hover A {
	COLOR: #000000
}
.portlet-section-selected {
	BACKGROUND: #e0f0fc; COLOR: #000000
}
.portlet-section-selected-hover {
	BACKGROUND: #e0f0fc; COLOR: #000000
}
TR.portlet-section-selected:hover {
	BACKGROUND: #e0f0fc; COLOR: #000000
}
.portlet-section-selected A {
	COLOR: #000000
}
.portlet-section-selected-hover A {
	COLOR: #000000
}
TR.portlet-section-selected:hover A {
	COLOR: #000000
}
.portlet-section-subheader {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BACKGROUND: #f6f6f6; PADDING-BOTTOM: 2px; COLOR: #000000; PADDING-TOP: 2px
}
.portlet-section-footer {
	COLOR: #000000
}
.portlet-section-text {
	COLOR: #000000
}
.portlet-form-label {
	COLOR: #000000
}
.portlet-form-input-field {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
.portlet-form-button {
	BORDER-RIGHT: #d2ddea 1px solid; BORDER-TOP: #d2ddea 1px solid; BACKGROUND: url(/html/themes/classic/color_schemes/06/button_gradient.gif) repeat-x; BORDER-LEFT: #d2ddea 1px solid; BORDER-BOTTOM: #d2ddea 1px solid
}
.portlet-icon-label {
	COLOR: #000000
}
.portlet-dlg-icon-label {
	COLOR: #000000
}
.portlet-form-field-label {
	COLOR: #000000
}
.portlet-form-field {
	COLOR: #000000
}
TR.even {
	COLOR: #000000; BACKGROUND-COLOR: #90abcc
}
TR.odd {
	COLOR: #000000; BACKGROUND-COLOR: #ffffff
}
