DIV#bloqueMenu DIV {
	FLOAT: left;
}

DIV#bloqueMenu {
	MARGIN-TOP: 15px; FLOAT: left; WIDTH: 990px
}

H3 {
	FONT-SIZE: 10px; TEXT-TRANSFORM: uppercase; HEIGHT: 13px;BackGround-color:white; color:#660000;
}

UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}

DIV#menu {
	BORDER-RIGHT: #c80000 1px solid; BORDER-TOP: #c80000 1px solid; OVERFLOW: hidden; BORDER-LEFT: #c80000 1px solid; WIDTH: 108px; LINE-HEIGHT: 16px; BORDER-BOTTOM: #c80000 1px solid; POSITION: relative; BACKGROUND-COLOR: firebrick
}

DIV#menu H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 3px; PADDING-BOTTOM: 4px; MARGIN: 0px 0px 1px; FONT: bold 9px Verdana, Geneva, Arial, Helvetica, sans-serif; WIDTH: 120px; COLOR: #fff; PADDING-TOP: 2px; HEIGHT: 11px; BACKGROUND-COLOR: firebrick;BackGround-color:white; color:#660000;
}


DIV#menu UL LI A:visited {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 1px; FONT: 11px Arial, Verdana, Geneva, Helvetica, sans-serif; WIDTH: 120px; COLOR: #fff; PADDING-TOP: 2px; BORDER-BOTTOM: #d41f1f 1px solid; HEIGHT: 18px;background-color :Firebrick;
}

DIV#menu UL LI A:link {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 1px; FONT: 11px Arial, Verdana, Geneva, Helvetica, sans-serif; WIDTH: 120px; COLOR: #fff; PADDING-TOP: 2px; BORDER-BOTTOM: #d41f1f 1px solid; HEIGHT: 18px
}

DIV#menu UL LI A:hover {
	BACKGROUND-COLOR: #d62e2e
}
DIV#menu UL LI#new A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; COLOR: #c00; PADDING-TOP: 4px; HEIGHT: 17px; position: absolute
}