.sponsor{
	width:180px;
	height:180px;
	float:left;
	margin:4px;
	/* Giving the sponsor div a relative positioning: */
	position:relative;
	cursor:pointer;
}

.sponsorFlip{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	border:1px solid #ddd;	
}

.sponsorFlip:hover{
	border:1px solid #999;
	/* CSS3 inset shadow: */
	-moz-box-shadow:0 0 30px #999 inset;
	-webkit-box-shadow:0 0 30px #999 inset;
}

.sponsorData{
	/* Hiding the .sponsorData div */
	display:none;
}