.panelTabla
{
    border-style:inset;
    border-width:1px;
    background-color:Gray;
}
.cabeceraTabla 
{
    font-size:0.8em;
    font-family:Verdana;
	color:#34721f;
	text-decoration:none;
	background-color:#bbbbbb;
}

.cabeceraTablaResumen 
{
    font-size:0.8em;
    font-family:Verdana;
	text-decoration:none;
	background-color:#ffffff;
    color:#262626;
    font-size: 11px;
    font-weight:bold;
}


.cabeceraTablaLink 
{
	background-color:#bbbbbb;
}
.cabeceraTablaLink a
{
    font-size:0.8em;
    font-family:Verdana;
	color:#34721f;
	text-decoration:underline;
	background-color:#bbbbbb;
}

.cabeceraTablaLinkOculta a
{
    font-size:0.8em;
    font-family:Verdana;
	color:#bbbbbb;
	text-decoration:underline;
	background-color:#bbbbbb;
}

.contenidoTabla
{
    font-size:0.7em;
    font-family:Verdana;
	color:#262626;
    font-size: 11px;
	text-decoration:none;
	text-indent:wrap;
}

.filaNormal
{
    background-color:#ffffff;
}

.filaAlterna
{
    background-color:#f0fdf0;
}

.filaSeleccionada
{
    color:#262626;
    background-color:#08ff08;
}

.campoDerecha
{

    text-align:right;
    font-family:Verdana;
}

.campoCentro
{
    text-align:center;
    font-family:Verdana;
}

.campoIzquierda
{
    text-align:left;
    font-family:Verdana;

}



